*{margin: 0;
padding: 0;
box-sizing: border-box;}
body,html{
background-image:linear-gradient(rgba(0, 0, 0, 1),rgba(0 ,0 ,0 ,0.4)),url("contact.jpg");
background-size:cover;
height: 110%;
     background-position: center;
     background-repeat:no-repeat;
}

.m112{position: fixed;
font-size: 40px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.active:hover{
transition-duration: 1s;
color: tomato;}
  .active1:hover{
    transition-duration: 1s;
  color: tomato;}
    .active2:hover{
      transition-duration: 1s;
    color: tomato;}
.m11{
font-size: 60px;
color: #FF0000;

font-family: Brush Script MT, Brush Script Std, cursive;
}
ul {
  margin-left: 5px;
  width: 100%;
  padding-top: 20px;
  list-style-type: none;
}

li {

width: 15%;
  float: left;

}


li a {

  color: #6495ED;
}
ul ul li{
border-right: solid 2px red;
  width: 125px;
}
ul ul{
  z-index: 1;
text-align: left;
  display: none;
}

ul li:hover ul{

  display: block;


}
ul ul li a{


}
ul ul li a:hover{

text-align: center;
    border-bottom: solid 4px #FF0000;
    background-color: snow;
    border-radius: 20px;
}


.home{
position: relative;
left: 25px;
border-radius: 40px;
  width: 50px;
  height: 45px;
}
.home:hover{
  transform: rotate(360deg);
  transition-duration: 2.5s;
height: 50px;
}
.ce{
  width: 75px;
  height: 50px;
  display: block;
  position: relative;
  top: 200px;
  left: 30px;
background-color: snow;
border-radius:35px;

  animation: abs 3s;
}
@keyframes abs {
  0%{
    margin-left: 400px;
  }
  20%{    margin-left: 400px;

}

}
.a{
  color: #6495ED;
  line-height: 0px;
  position: relative;
  top: 165px;
  margin-left: 120px;
font-family: fantasy;
  animation: absd 3s;
}
@keyframes absd {
  0%{color: crimson;
    margin-left: 500px;
  }
  20%{ color: crimson;   margin-left: 500px;

}
40%{  color: crimson;  margin-left: 500px;

}
}
.a1{color: crimson;

  line-height: 0px;
  position: relative;
  font-family: fantasy;
  top: 185px;
  margin-left: 120px;
  animation: absde 3s;
}
@keyframes absde {
  0%{  color: #6495ED;
    margin-left: 500px;
  }
  20%{color: #6495ED; margin-left: 500px;

}
40%{  color: #6495ED;  margin-left: 500px;

}
}
.send  {
  width: 400px;
  height: 300px;
  margin-left: 800px;
  border-radius: 30px;
background: linear-gradient(to left,#6495ED 30%, #6495ED 30%, blue 65%);
}
.send input{
  border-radius: 30px;
  outline: none;
  border: none;
  width: 300px;
  height: 20px;background: linear-gradient(grey, white);

}
.name{
  width: 400px;
  height: 40px;
}
textarea{
border-radius: 30px;
  background:linear-gradient(grey, white);
}
.ww{
  text-align:center;
font-family: fantasy;
background: linear-gradient(#e66465, #9198e5);
color:lightgrey;
border-radius: 60px;
}
#end{


  height: 200px;
background-color: #6495ED;
border-top-left-radius: 100px;
border-bottom-right-radius: 100px;
position: relative;
top: 280px;
}
.fot-name{
  font-size: 35px;
text-align: center;
padding-top: 2%;
font-family: Brush Script MT, Brush Script Std, cursive;
}
.final-ani{
  animation: mhamad 2.5s infinite;

}
@keyframes mhamad {
  0%{color: yellow;}
  25%{color:  #6495ED;}
}
.final-tb{
  margin-left: 10%;

}

.m124{
  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin-left: 1250%;
float: left;
}
@media all and (max-width:500px) {

p{font-size: 15px;}
  h1 {font-size: 15px;}
    a{font-size: 20px;}
    img{
      width: 20px;
      height: 50px;
    }
    .send{
      width: 200px;
      height: 100px;
      position: relative;
      right: 520px;
    }
    .send input{
      width: 200px;
      height: 20px;
    }
    .send textarea{
      width: 200px;
      height:20px;
    }
    td{
      width: 10%;
    }
    #icon p{
      font-size: 10px;
    }
    #icon img{
  width: 100px;
  height: 100px;
    }
    #icon h1{
      font-size: 20px;
    }
    #icon {
      text-align: center;
      height: 400px;
    }
.mhamad h1{
  text-align: center;
  font-size: 30px;
}
#mhamad img{
  position: relative;
  right: 10px;
  width: 30px;
  height: 40px;
}
.home{
  width: 40px;
  height: 40px;
}
.rony h1{
  font-size: 20px;
  }
  .rony p{
    font-size: 15px;
    }


#mr h1 {
    font-size: 20px;
}
#mr p{
    font-size: 15px;
}
#mr img{
  width: 114px;
}
#end a {
  font-size: 10px;
}
#end table{
  width: 10%;
}
#end {
  height: 180px;
}
#end span{
  font-size: 25px;

}
#end div{
  font-size: 25px;

}
#end img{
  position: relative;
  right: 280px;

}
.signin{
  position: relative;
  right: 100px;
  width: 80px;
  height: 40px;
  font-size: 20px;
}
.signin:hover{font-size: 25px;}
}}
